body{
    margin: 0;
    padding: 0;
    background-color: lavender;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav{
    text-align: center;
    text-transform: uppercase;
    background-color: steelblue;
    margin: 0 auto;
    padding: .4em;
    color: white;
    font-weight: 900;
}

.main{
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
}
.mainText{
    text-align: start;
    max-width: 630px;
    margin: 0.1em auto;
    margin-bottom: 0.3em;
    background-color: rgba(0,0,0, 0.05);
    padding: 0.01em 0.8em;
    font-size: 20px;
    font-weight: 600;
}

.typehere{
      display: flex-row;
}


#urText{
    width: 80%;
    padding: 0.5em 0.8em;
    border: .6em solid grey;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    font-weight: 900;
}
.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8%;
}

.control span{
    color:green;
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
}

#timer{
    color: #242424;

}
#reset{
    padding: 0.4em 1em;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(246, 42, 41);
    border: 0.2em solid rgb(246, 42, 41);
    text-decoration: none;
    outline: none !important;
}

#reset:hover{
    color: white;
    background-color:rgb(246, 42, 41);
}


